body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(linedpaper.png);
  background-repeat: repeat;
  background-image: url(Chicago3.jpg);
  background-size: 100%;
  border-style: ridge;
  color: white;

}
#wrapper 
	{width: 960px;
  margin: 20px auto 20px auto;}
h1 
	{color: blue; /*insert comments like this*/}
h4 
	{color: #36B2B3}

#summary 
	{font-family: fantasy;}

h1 
	{text-decoration: underline}

h2
	{color: purple;}

.link 
	{font-weight: bold; font-style: italic;}
